@{
    ViewData["Title"] = "Contactos";
}

<h2>Contactos</h2>
<p>Para mais informações, entre em contato connosco através dos seguintes canais:</p>
<ul>
    <li>Email: info@gymmanagement.com</li>
    <li>Telefone: +351123456789</li>
</ul>