@{
    ViewData["Title"] = "Ginásios";
}

<h2>Os nossos ginásios</h2>
<p>Encontre o ginásio mais próximo:</p>
<ul>
    <li>Ginásio 1 - Rua ???, Lisboa</li>
    <li>Ginásio 2 - Avenida ???, Porto</li>
    <li>Ginásio 3 - Avenida ???, Faro</li>
</ul>