@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Bem-vindo</h1>

<ul>
    <li><a asp-controller="Login" asp-action="Index">Login Clientes</a></li>
    <li><a asp-controller="Home" asp-action="QuemSomos">Quem Somos</a></li>
    <li><a asp-controller="Servicos" asp-action="Index">Serviços</a></li>
    <li><a asp-controller="Ginasios" asp-action="Index">Ginásios</a></li>
    <li><a asp-controller="Inscricoes" asp-action="Index">Inscrições</a></li>
    <li><a asp-controller="Home" asp-action="Contactos">Contactos</a></li>
</ul>