@{
    ViewData["Title"] = "Quem Somos";
}

<h2>Quem Somos</h2>
<p>Somos uma rede de ginásios comprometidos com a sua saúde e bem-estar. Estamos sempre a tentar encontrar soluções para o ajudar nos seus treinos.</p>
